@import '../../styles/variables.css';

.flpsi-header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutral-color-08);
  background-color: transparent;
  position: absolute;
  z-index: 1000;
}

.flpsi-navbar {
  width: 100%;
  max-width: 1224px;
  height: var(--spacing64);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing24);
}

.flpsi-navbar-action {
  display: flex;
  align-items: center;
}

svg {
  max-width: 220px;
}

@media screen and (max-width: 600px) {

  .flpsi-navbar-action button.button {
    display: none;
  }

}