.section-content {
  width: 100%;
  max-width: 1224px;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo da seção */
  position: relative; /* Para posicionar o título e subtítulo */
  padding: 24px; /* Espaçamento interno */
}

.title {
  position: absolute; /* Para posicionar no canto inferior */
  bottom: 40px; /* Distância do fundo */
  left: 20px; /* Distância da esquerda */
  font-size: 2rem; /* Tamanho da fonte */
  margin: 0; /* Remove margem padrão */
}

.subtitle {
  position: absolute; /* Para posicionar no canto inferior */
  bottom: 10px; /* Distância do fundo */
  left: 20px; /* Distância da esquerda */
  font-size: 1.2rem; /* Tamanho da fonte */
  margin: 0; /* Remove margem padrão */
}
