@import url('./styles/variables.css');

body {
  margin: 0;
  font-family: var(--font-family-content);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
  padding: var(--spacing24);
  height: 100vh;
}